p {
    color: rgb(134, 134, 235);
}

.text-red {
    color: rgb(214, 26, 26);
}

#title {
    color: rgb(140, 236, 236);
}

[type] {
    color: rgb(245, 17, 17);
}

h3,
h6 {
    color: blueviolet;
}

ul li {
    color: blue;
}

ol li {
    color: red;
}


ol > li { 
    color: chartreuse;
}

a:hover {
    color: red;
}

input:focus {
    color: coral;
}

